@use '../../style/mainStyle.scss' as mainStyle;

#card-container {
    max-Width: 1000px;
    margin: 60px auto;
    .products-list {
        margin: 0 10px;
        overflow-x: auto;
        height: 100%;
        table {
            width: 100%;
            text-align: left;
            tbody {
                tr {
                    border-bottom: 1px solid mainStyle.$black-25;
                    cursor: pointer;
                    &:first-child {
                        background-image: mainStyle.$gradient;
                        font-weight: bold;
                        border-bottom: unset;
                    }
                    &:nth-child(odd) {
                        background-color: mainStyle.$black-5;
                    }
                    &:hover {
                        background-color: mainStyle.$black-10;
                    }
                    th, td {
                        padding: 15px;
                        vertical-align: middle;
                        width: 10%;
                        &:first-child {
                            font-weight: bold;
                            width: 5%;
                        }
                        &:nth-child(2) {
                            width: 20%;
                        }
                        &:nth-child(3) {
                            width: 40%;
                            min-width: 220px;
                        }
                        &:nth-child(4) {
                            text-align: center;
                        }
                        &:nth-child(5) {
                            text-align: right;
                            width: 15%;
                        }
                        &:nth-child(6) {
                            text-align: center;
                            width: 20%;
                            &.free-shipping {
                                color: mainStyle.$tertiary;
                            }
                        }
                        #remove-card-btn {
                            margin: auto;
                        }
                    }
                    th {
                        color: white;
                    }
                    td {
                        line-height: 24px;
                    }
                }
            }
            tfoot {
                border-top: 2px solid mainStyle.$black-25;
                tr {
                    border-bottom: 2px solid mainStyle.$black-25;
                    th, td {
                        padding: 15px;
                        vertical-align: middle;
                        width: 10%;
                        text-align: center;
                        font-weight: bold;
                        &:nth-child(2) {
                            text-align: right;
                        }
                    }
                }

            }
        }
    }
    .total-container {
        border-bottom: 1px solid mainStyle.$black-25;
        padding-right: 24px;
        margin: 0 10px;
        margin-bottom: 24px;
        h5 {
            font-weight: bold;
            text-align: right;
            padding: 22px 0;
            span {
                margin-right: 12px;
            }
        }
    }
    .action-container {
        button {
            margin-left: auto;
        }
    }
    .free-shipping {
        color: mainStyle.$success;
        font-weight: bold;
        font-style: italic;
    }
}
.empty-cart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: mainStyle.$black-75;
}