@use '../../style/mainStyle.scss' as mainStyle;

#product-page {
    .product-container {
        max-Width: 800px;
        width: 100%;
        margin: auto;
        margin-top: 80px;
        margin-bottom: 48px;
        display: flex;
        position: relative;  
        gap: 16px;      
        .product-image {
            flex: 3;
            img {
                width: 100%;
                max-height: 400px;
                object-fit: contain;
            }
        }
        .product-description {
            flex: 1;
            display: flex;
            flex-direction: column;
            padding: 0 10px;
            > * {
                margin-bottom: 10px;
                &:last-child  {
                    margin-bottom: 0px;
                }
            }
            .brand {
                margin-bottom: 3px;
                color: mainStyle.$black-50;
            }
            .quantity {
                font-weight: bold;
                color: mainStyle.$black-75;
            }
            #quantity-selector {
                width: unset;
            }
            .description {
                opacity: 1;
                line-height: 1rem;
            }
            .shipping {
                color: mainStyle.$success;
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                font-style: italic;
                margin-bottom: 15px;
            }
        }
    }
}