@use '../../../style/mainStyle.scss' as mainStyle;

.price-display {
    color: mainStyle.$black-50;
    span {
        &:first-child {
            font-weight: bold;
            color: mainStyle.$primary;
        }
        &.oldPrice {
            text-decoration: line-through;
            font-style: italic;
            font-size: .9rem;
        }
    }
}