$large: 1040px;
$medium: 768px;
$small: 425px;

@media screen and (max-width: $small) {
    #header {
        .logo a h2 {
            font-size: 1.4rem;
        }
        nav ul { 
            gap: 8px; 
            li a .cart-btn svg {
                width: 25px;
                height: 25px;
            }
        } 
    }

}