@use '../../style/mainStyle.scss' as mainStyle;

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 16px 24px;
    background-image: mainStyle.$gradient;
    color: white;
    .logo {
        font-family: 'Monoton';
        a {
            color: white;
            text-decoration: none;
        }
    }

    nav{
        display: flex;
        gap: 16px;
        ul {
            display: flex;
            align-items: center;
            gap: 16px;
            li {
                a {
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    transition: all .15s ease-in-out;
                    svg > path {
                        fill: white;
                        transform: scale(.8);
                    }
                    &:hover {
                        color: mainStyle.$black-75;
                    }
                }
            }
        }
    }
}