@use '../../style/mainStyle.scss' as mainStyle;

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    padding: 16px 24px;
    background-image: mainStyle.$gradient;
    color: white;
    .logo {
        font-family: 'Monoton';
        a {
            color: white;
            text-decoration: none;
        }
    }

    nav{
        display: flex;
        gap: 16px;
        ul {
            display: flex;
            align-items: center;
            gap: 16px;
            li {
                a {
                    color: white;
                    font-weight: bold;
                    text-decoration: none;
                    transition: all .15s ease-in-out;
                    &:hover, &.active  {
                        color: mainStyle.$black-75;
                        .cart-btn {
                            color: mainStyle.$black-75;
                            svg path {
                                fill: mainStyle.$black-75;                            
                            }
                        }
                    }
                    .cart-btn {
                        display: flex;
                        position: relative;
                        color: white;
                        &::before {
                            content: '';
                            width: 20px;
                            height: 20px;
                            position: absolute;
                            top: -7px;
                            right: -7px;
                            background-color: mainStyle.$tertiary;
                            border-radius: 50px;
                        }
                        &:hover {
                            color: mainStyle.$black-75;
                        }
                        .num-itens {
                            position: absolute;
                            top: 0;
                            right: -6px;
                            width: 20px;
                            text-align: center;
                            transform: translateY(-4px);
                        }
                        svg {
                            width: 35px;
                            height: 35px;
                            &:hover path {
                                fill: mainStyle.$black-75;
                            }
                            path {
                                fill: white;
                            }
                        } 
                    }
                }
            }
        }
    }
}