@use '../../../style/mainStyle.scss' as mainStyle;

.vertical-card {
    display: flex;
    flex-direction: column;
    position: relative;
    color: mainStyle.$black-75;
    border: 1px solid mainStyle.$black-10;
    cursor: pointer;
    flex-basis: 33.333333%;
    background-color: white;
    transition: all .10s ease-in-out;
    height: 100%;
    &:hover {
        transform: scale(1.05);
        z-index: 1;
        .discount-flag {
            background-color: lighten(mainStyle.$tertiary, 10%);
            animation-name: pulse-discount-flag;
            animation-timing-function: ease-in-out;
            animation-duration: .55s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
        }
        @keyframes pulse-discount-flag {
            0% {background-color: lighten(mainStyle.$tertiary, 0%);}
            100% {background-color: lighten(mainStyle.$tertiary, 12%);}
        }
    }
    .card-img {
        margin: 15px 0;
        img {
            width: 100%;
            height: 150px;
            object-fit: contain;
        }
    }
    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 10px;
        > * {
            margin-bottom: 10px;
            &:last-child  {
                margin-bottom: 0px;
            }
        }
        .brand {
            margin-bottom: 3px;
            color: mainStyle.$black-50;
        }
        .short-desc {
            opacity: 1;
            max-height: 200px;
            padding-bottom: 20px;
            margin-bottom: auto;
        }
        .shipping {
            color: mainStyle.$success;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            font-style: italic;
            margin-bottom: 15px;
        }
    }
}