@use '../../style/mainStyle.scss' as mainStyle;

$large: 1040px;
$medium: 768px;
$small: 425px;

@media screen and (max-width: $large) {
    #products-section {
        .products {
            grid-template-columns: repeat(3, 1fr);
            max-width: unset;
        }
    }

}
@media screen and (max-width: $medium) {
    #products-section {
        width: 100%;
        .section-title {
            margin-bottom: 0px;
        }
        .products, .products.horizontal-cards {
            margin: unset;
            max-width: unset;
            grid-template-columns: repeat(1, 1fr);
            margin-top: 75px;
        }
    }
}
@media screen and (max-width: $small) {
    #products-section {
        .products, .products.horizontal-cards {
        }
    }
    
}

