@use '../../style/mainStyle.scss' as mainStyle;

#products-section {
    width: 100%;
    margin: auto;
    padding: 16px 24px;
    padding-bottom: 50px;
    box-sizing: border-box;
    &:nth-child(even) {
        background-color: mainStyle.$black-5;
    }
    .section-title {
        position: relative;
        text-align: center;
        font-family: 'Monoton';
        color: mainStyle.$black-75;
        margin-top: 20px;
        margin-bottom: 30px;
        &::before,
        &::after {
            content: '';
            position: absolute;
            height: 1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: mainStyle.$black-75;
        }
        &::before {
            bottom: -8px;
            width: 150px;            
        }
        &::after {
            bottom: -14px;
            width: 75px;
        }
    }
    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10px;
        row-gap: 40px;
        flex-wrap: wrap;
        width: 100%;
        max-width: 80vw;
        margin: auto;
        &.horizontal-cards {
            max-width: 70vw;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 30px;
        }
        &.horizontal-cards, &.vertical-cards {
            margin-top: 75px;
            a {
                text-decoration: none;
            }
        }
    }
}
.error-message {
    width: 90vw;
    text-align: center;
    margin: auto;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: transparent;
    font-size: 1.3rem;
    background-image: mainStyle.$gradient;
    background-clip: text;
    line-height: 30px;
}